footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 5%;



    a {
        color: teal;
    }

    a:hover {
        color: #313843;
    }

    .social-media {
        .centered(flex, center);

    }

    .social-media img {
        height: 3%;
        width: 3%;
        padding-right: 1%;

        @media @mobile {
            height: 20%;
            width: 20%;
        }
    }

    .icon-credit {
        font-size: 1em;
        margin-top: 1%;
        padding-bottom: .5%;


        @media @mobile {
            font-size: 0.9em;
        }

    }

    p {
        font-size: 1em;


        @media @mobile {
            font-size: 1.5em;
        }
    }
}