body {
    background-color: lightblue;

    header .title-header{
        display: flex;
        
        .title {
            flex-direction: end;
        }
    }
}

.main-right {
    display: flex;
    justify-content: center;
    border: 2px dashed pink;
    width: 25%;
    margin-left: 70%;
    margin-top: 15%;

    .cta-heading {
        border: 2px green solid;
        font-size: 4em;
    }
    .cta-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        

        button {
            margin: 1.5em;
            font-size:3em;
            padding: 10px 20px;
        }
    }
   

}




