body {
    color: @main-text;
    font-family: "Source Sans Pro", sans-serif;

    header {
        width: 80%;
        margin: 0 auto;

        nav {


            .img-logo {

                display: flex;
                align-items: center;
                margin-top: 4%;

                @media @mobile {
                    .columning();
                    .txtalign();
                    font-size: 2rem;
                    margin-top: 0.5em;
                }





            }

            a {
                margin-left: 4%;
                font-size: 2.5rem;
                text-decoration: none;
                color: white;
                background-color: @highlight-color;
                border-radius: 25px;
                padding: 0.5% 2% 0.5% 2%;
                text-align: center;
                width: 20%;




                @media @mobile {
                    margin-top: 0.5em;
                    width: 50%;
                }
            }

            a:hover {
                color: #313843;
            }
        }

        .title-header {
            .title {
                display: flex;
                flex-direction: column;
                align-items: center;
                font-size: 2.4rem;
                margin-top: 5%;


                @media @mobile {
                    margin: 7% 5% 0% 0%;
                    .txtalign();
                }

                .nameofpage {
                    font-size: 5rem;
                    font-weight: 900;

                    .strikethrough {
                        text-decoration: line-through;
                        text-decoration-color: @highlight-color;
                    }
                }
            }

            img {
                width: 4%;
                height: 4%;




                @media @mobile {
                    display: none;
                }
            }
        }
    }

    .main-content {
        display: flex;
        align-items: center;

        @media @mobile {
            .columning();
            align-items: center;
        }

        .main-left {
            width: 50%;
            margin-top: 10%;

            .feature-1,
            .feature-2,
            .feature-3,
            .feature-4 {
                display: flex;
                align-items: center;

                img {
                    padding-top: 3%;
                    height: 7%;
                    width: 7%;

                    @media @mobile {
                        padding-top: 7%;
                    }
                }
            }

            @media @mobile {
                width: 100%;
            }

            p {
                font-size: 2.5rem;
                padding-top: 25px;
                padding-left: 5%;

                @media @mobile {
                    padding-top: 7%;
                }
            }
        }

        h2 {
            color: @highlight-color;
            font-size: 3.8rem;
            .txtalign();
            padding-top: 3%;
            border-bottom: 1px solid @highlight-color;
        }
    }

    .main-right {
        display: flex;
        justify-content: center;
        width: 40%;
        height: 60%;
        margin: 10% 0% 0% 15%;
        border: 3px solid @highlight-color;
        border-radius: 25px;
        background-image: @main-bg;

        @media @mobile {
            .columning();
            align-items: center;
            width: 100%;
            margin: 5% auto;
        }

        .cta {
            width: 100%;
            border-radius: 5%;

            .cta-box {
                display: flex;
                flex-direction: column;
                align-items: center;

                .cta-heading {
                    font-size: 3.5rem;
                    width: 100%;
                    padding-top: 3%;

                    h2 {
                        .txtalign();
                        border-bottom: 2px solid black;
                        border-color: @highlight-color;
                        color: white;
                        padding-bottom: 3%;

                        @media @mobile {
                            padding-bottom: 2%;
                        }
                    }
                }

                button {
                    color: white;
                    background-color: @highlight-color;
                    font-size: 2.5rem;
                    border-radius: 25px;
                    width: 100%;
                    padding-top: 4%;
                    padding-bottom: 4%;
                    margin: 25% 5% 20% 5%;
                }

                button:hover {
                    color: #313843;
                    cursor: pointer;
                }
            }
        }
    }
}

.about-main {
    .txtalign();
    margin-top: 3%;
    margin-bottom: 5%;

    .about-intro {
        p {
            font-size: 2rem;
        }

        span {
            text-decoration: line-through;
            text-decoration-color: @highlight-color;
        }
    }

    .about-main {
        border: 2px solid black;
    }

    .about-team {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        border-radius: 25px;
        margin: 1%;

        @media @mobile {
            .columning();
            align-items: center;
            margin-top: 2rem;
            border: none;
            background-color: @main-bg;
        }

        .about-person {
            width: 30%;
            .txtalign();
            margin: 1%;
            background-color: @main-bg;
            border: 2px solid @highlight-color;
            border-radius: 15%;



            @media @mobile {
                .columning();
                align-items: center;
                border: none;
                width: 100%;
                border-radius: 2%;
            }

            h1 {
                font-size: 3.5rem;
                text-decoration: underline;
                margin-bottom: 10px;
                margin-top: 20px;

                img {
                    height: 20px;
                    width: 100%;

                }
            }

            .role {
                font-size: 2em;
            }

            p {
                padding: 5% 10%;

                @media @mobile {
                    font-size: 2.5em;
                }
            }

            .blurb {


                @media @mobile {
                    padding-bottom: 20px;
                }
            }

            img {

                width: 60%;
                border-radius: 50%;


                @media @mobile {
                    border-radius: 2%;
                    width: 80%;
                    margin: 0 auto;

                }
            }
        }
    }
}